site_name: Nice Plots

theme:
  name: material

nav:
  - Home: index.md
  - KM plots: kmplots.md
  - Panels: panels.md


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets